:root {
    --textprim: #bababa;
    --textsecond: #ffffff;
    --button: #2b2b2b;
    --accent: #004656;
    --buttonhover: #65d3ff;
    --background: #1d1d1d;
    --inputs: #121212;
}

.dotContent {
    background-color: #65d3ff;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#searchbar input {
    color: var(--buttonhover);
}

.selected_extrawanted {
    color: #60e7ff;
}

.extrawanted:hover {
    color: #60e7ff;
}

#showAttorneysButton:hover {
    background-color: rgb(96, 166, 232);
}

#showButton:hover {
    background-color: rgb(96, 166, 232);
}

#title {
    display: flex;
}

#header_icon {
    height: 100%;
    padding-right: 10px;
}

#header_icon img {
    height: 3vh;
    position: relative;
    transform: translate(-50%, -50%);
    position: relative;
    top: 40%;
    left: 50%;
    
}

#header_titleText {
    height: 100%;
    line-height: 5vh;

    font-size: 3vh;
    font-weight: 600;
    color: var(--textsecond);
}